---
title: Link
layout: default
permalink: /link/
description: "友情链接"
header-img: "img/link-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <ul class="link-list">
                <li class="link-item">
                    <a target="_blank" class="link-url" href="http://lrd.ele.me/" style='text-decoration:none;'>
                        <img class="avatar" src="http://lrd.ele.me/images/ico.png" alt="饿了么物流技术博客">
                        <div class="wrap-info">
                            <div class="name">饿了么物流技术博客</div>
                            <div class="info">美好生活 触手可得</div>
                        </div>
                    </a>
                </li>
                <li class="link-item">
                    <a target="_blank" class="link-url" href="http://www.jianshu.com/u/ac93c4b98c6b" style='text-decoration:none;'>
                        <img class="avatar" src="https://avatars2.githubusercontent.com/u/1644853?v=3&amp;s=460" alt="稻子">
                        <div class="wrap-info">
                            <div class="name">稻子</div>
                            <div class="info">foxsofter</div>
                        </div>
                    </a>
                </li>
                <li class="link-item">
                    <a target="_blank" class="link-url" href="http://mmoaay.github.io/" style='text-decoration:none;'>
                        <img class="avatar" src="https://avatars1.githubusercontent.com/u/4161013?v=3&amp;s=460" alt="画渣程序猿MM">
                        <div class="wrap-info">
                            <div class="name">画渣程序猿 MM</div>
                            <div class="info">不喜欢画画的程序猿不是好翻译</div>
                        </div>
                    </a>
                </li>
                <li class="link-item">
                    <a target="_blank" class="link-url" href="http://ndhphp.com/" style='text-decoration:none;'>
                        <img class="avatar" src="http://upload-images.jianshu.io/upload_images/1018190-2cb323e0c07c1a50.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt="carl&#39;s blog">
                        <div class="wrap-info">
                            <div class="name">carl&#39;s blog</div>
                            <div class="info">强哥的 iOS 开发日记</div>
                        </div>
                    </a>
                </li>
                <li class="link-item">
                    <a target="_blank" class="link-url" href="https://halfrost.com/" style='text-decoration:none;'>
                        <img class="avatar" src="https://avatars0.githubusercontent.com/u/10825609?v=3&amp;s=460" alt="一缕殇流化隐半边冰霜">
                        <div class="wrap-info">
                            <div class="name">一缕殇流化隐半边冰霜</div>
                            <div class="info">在每一个苦思冥想的瞬间求知</div>
                        </div>
                    </a>
                </li>
                <li class="link-item">
                    <a target="_blank" class="link-url" href="http://www.jianshu.com/u/2dcbeec1f48b" style='text-decoration:none;'>
                        <img class="avatar" src="https://avatars0.githubusercontent.com/u/18119726?v=3&amp;s=460" alt="Assuner">
                        <div class="wrap-info">
                            <div class="name">Assuner</div>
                            <div class="info">An iOS Developer With Great Enthusiasm.</div>
                        </div>
                    </a>
                </li>
                <li class="link-item">
                    <a target="_blank" class="link-url" href="http://www.eyrefree.org/" style='text-decoration:none;'>
                        <img class="avatar" src="https://avatars1.githubusercontent.com/u/10757132?v=3&amp;s=460" alt="EyreFree">
                        <div class="wrap-info">
                            <div class="name">EyreFree</div>
                            <div class="info">Not all those who wander are lost.</div>
                        </div>
                    </a>
                </li>
                <li class="link-item">
                    <a target="_blank" class="link-url" href="http://zhoulingyu.com/" style='text-decoration:none;'>
                        <img class="avatar" src="https://avatars2.githubusercontent.com/u/7870394?v=3&amp;s=460" alt="小鱼周凌宇のCODE_HOME">
                        <div class="wrap-info">
                            <div class="name">小鱼周凌宇</div>
                            <div class="info">iOS developer, cute girl.</div>
                        </div>
                    </a>
                </li>

                
            </ul>

        </div>
    </div>
</div>